<div
    class=" hover:border-2 relative group hover:scale-105 transition-all overflow-hidden ease-in-out duration-300 rounded-2xl p-3 hover:shadow-shadow cursor-pointer hover:border-main/40">
    <div [routerLink]="['/products-details',product._id]" class="">
        <img [src]="product.imageCover" class="w-full group-hover:scale-110 transition-all ease-in-out duration-500 "
            alt="">
        <h5 class="text-main my-2">{{product.category.name}}</h5>
        <h4 class="font-bold line-clamp-1">{{product.title}}</h4>
        <div class="flex justify-between items-center my-5">
            <span>{{product.price}} EGP</span>
            <span><i class="fa-solid fa-star text-rating"></i>{{product.ratingsAverage}}</span>
        </div>
    </div>
    <a (click)="addtowishlist()" [class.text-red-600]="colorhart" class="absolute top-2 left-4 text-xl bg-main/20 text-main py-1 px-2 rounded-2xl hover:text-red-500"><i class="fa-solid fa-heart-pulse"></i></a>

    <button (click)="addtocartputn()" class=" btn ">Add to cart</button>
</div>