<section>
    <div class="container mx-auto my-20">
        <div class="grid gap-5 sm:grid-cols-12">
            <div class="col-span-6">
                <div class="grid gap-4 place-self-center  ">
                    <div class="justify-center items-center flex">
                        <img class=" w-100 h-100 rounded-lg " [src]="detailsProduct.imageCover" alt="">
                    </div>
                    <div class="flex justify-center items-center gap-4 ">
                        @for (item of detailsProduct.images; track $index) {
                        <div class="flex-auto">
                            <img class="h-auto max-w-full rounded-lg" [src]="item" alt="">
                        </div>

                        }
                    </div>
                </div>
            </div>
            <div class="col-span-6 sm:px-1 px-4">
                <div>
                    <h2 class="md:text-4xl font-bold capitalize text-main">{{detailsProduct.title}}</h2>
                    <h4 class="md:text-xl my-2 px-3">{{detailsProduct.category!.slug}}</h4>
                    <p class="px-4">{{detailsProduct.description}}</p>
                    <div class="text-green-900 font-extrabold my-3 px-4 dark:text-white text-2xl ">
                        {{detailsProduct.price}} EGP</div>

                </div>
                <div class="text-end">
                    <button (click)="addtocartputn(detailsProduct._id)"
                        class="shadow-shadow py-2 bg-main/10 w-full font-black text-orange-500   my-5 border-b-2 border-main rounded-2xl   opacity-100 cursor-pointer">
                        <i class="fa-solid fa-cart-flatbed-suitcase"></i> Add To Cart</button>
                </div>
            </div>
        </div>
    </div>
</section>