<div class="container mx-auto ">
    <div class="font-family  bg-white md:min-h-screen my-10 mx-auto grid w-full">
    
        <div
          class="  items-center md:p-8 p-6 w-full  rounded-3xl hover:rounded transition-all duration-300  lg:ml-auto">
          @if (step==1) {<form class="max-w-lg w-full mx-auto border-2 border-orange-300 border-dashed p-8" [formGroup]="emailGroup " (ngSubmit)="onSubmit()">
            <div class="mb-4">
              <h3 class="text-3xl  font-bold text-orange-500">enter your email</h3>
            </div>
            <div class="mt-8">
                <label class="text-white text-xs block mb-2">Email</label>
                <div class="relative flex items-center">
                  <input formControlName="email" name="email" type="text"
                    class="w-full bg-transparent text-sm text-white border-b border-gray-300 focus:border-yellow-400 pl-2 pr-8 py-3 outline-none"
                    placeholder="Enter email" />
                  <svg xmlns="http://www.w3.org/2000/svg" fill="#bbb" stroke="#bbb"
                    class="w-[18px] h-[18px] absolute right-2" viewBox="0 0 682.667 682.667">
                    <defs>
                      <clipPath id="a" clipPathUnits="userSpaceOnUse">
                        <path d="M0 512h512V0H0Z" data-original="#000000"></path>
                      </clipPath>
                    </defs>
                    <g clip-path="url(#a)" transform="matrix(1.33 0 0 -1.33 0 682.667)">
                      <path fill="none" stroke-miterlimit="10" stroke-width="40"
                        d="M452 444H60c-22.091 0-40-17.909-40-40v-39.446l212.127-157.782c14.17-10.54 33.576-10.54 47.746 0L492 364.554V404c0 22.091-17.909 40-40 40Z"
                        data-original="#000000"></path>
                      <path
                        d="M472 274.9V107.999c0-11.027-8.972-20-20-20H60c-11.028 0-20 8.973-20 20V274.9L0 304.652V107.999c0-33.084 26.916-60 60-60h392c33.084 0 60 26.916 60 60v196.653Z"
                        data-original="#000000"></path>
                    </g>
                  </svg>
                </div>
              </div>
              <authentication-validate [control]="emailGroup.get('email')" />
            
            <div class="mt-8">
              <button [disabled]="isloading" type="submit" [class.bg-gray-200]="isloading||emailGroup.invalid"
                class="btn opacity-100 translate-0">
  
                @if (isloading) {
                <i class="fas fa-spin fa-spinner"></i>
                }@else {verfiy}
              </button>
  
            </div>
          </form>}
          @else if(step==2){ <form class="max-w-lg w-full mx-auto border-2 border-orange-300 border-dashed p-8" [formGroup]="resetCodegroup " (ngSubmit)="onSubmitcode()">
            <div class="mb-4">
              <h3 class="text-3xl  font-bold text-orange-500">enter your code</h3>
            </div>
            <div class="mt-8">
                <label class="text-white text-xs block mb-2">resetCode</label>
                <div class="relative flex items-center">
                  <input formControlName="resetCode" name="resetCode" type="text"
                    class="w-full bg-transparent text-sm text-black border-b border-gray-300 focus:border-yellow-400 pl-2 pr-8 py-3 outline-none"
                    placeholder="Enter email" />
                  
                </div>
              </div>
              <authentication-validate [control]="resetCodegroup.get('resetCode')" />
            
            <div class="mt-8">
              <button [disabled]="isloading" type="submit" [class.bg-gray-200]="isloading||resetCodegroup.invalid"
                class="btn opacity-100 translate-0">
  
                @if (isloading) {
                <i class="fas fa-spin fa-spinner"></i>
                }@else {verfiy}
              </button>
  
            </div>
          </form>}
         @else if (step==3) {
            <form class="max-w-lg w-full mx-auto border-2 border-orange-300 border-dashed p-8" [formGroup]="repasswordgroup " (ngSubmit)="onSubmitreset()">
                <div class="mb-4">
                  <h3 class="text-3xl  font-bold text-orange-500">
                    Reset Password</h3>
                </div>
                <div class="mt-8">
                    <label class="text-white text-xs block mb-2">code</label>
                    <div class="relative flex items-center">
                      <input formControlName="email" name="number" type="text"
                        class="w-full bg-transparent text-sm text-black border-b border-gray-300 focus:border-yellow-400 pl-2 pr-8 py-3 outline-none"
                        placeholder="Enter email" />
                      <svg xmlns="http://www.w3.org/2000/svg" fill="#bbb" stroke="#bbb"
                        class="w-[18px] h-[18px] absolute right-2" viewBox="0 0 682.667 682.667">
                        <defs>
                          <clipPath id="a" clipPathUnits="userSpaceOnUse">
                            <path d="M0 512h512V0H0Z" data-original="#000000"></path>
                          </clipPath>
                        </defs>
                        <g clip-path="url(#a)" transform="matrix(1.33 0 0 -1.33 0 682.667)">
                          <path fill="none" stroke-miterlimit="10" stroke-width="40"
                            d="M452 444H60c-22.091 0-40-17.909-40-40v-39.446l212.127-157.782c14.17-10.54 33.576-10.54 47.746 0L492 364.554V404c0 22.091-17.909 40-40 40Z"
                            data-original="#000000"></path>
                          <path
                            d="M472 274.9V107.999c0-11.027-8.972-20-20-20H60c-11.028 0-20 8.973-20 20V274.9L0 304.652V107.999c0-33.084 26.916-60 60-60h392c33.084 0 60 26.916 60 60v196.653Z"
                            data-original="#000000"></path>
                        </g>
                      </svg>
                    </div>
                  </div>
                  <authentication-validate [control]="repasswordgroup.get('email')" />
                  <div class="mt-8">
                    <label class="text-white text-xs block mb-2">newPassword</label>
                    <div class="relative flex items-center">
                      <input formControlName="newPassword" name="newPassword" [type]="showpassword?'text':'password'"
                        class="w-full bg-transparent text-sm text-black border-b border-gray-300 focus:border-yellow-400 pl-2 pr-8 py-3 outline-none"
                        placeholder="Enter password"  />
                      <svg xmlns="http://www.w3.org/2000/svg" fill="#bbb" stroke="#bbb"(click)="shpwpass()"
                        class="w-[18px] h-[18px] absolute right-2 cursor-pointer" viewBox="0 0 128 128">
                        <path
                          d="M64 104C22.127 104 1.367 67.496.504 65.943a4 4 0 0 1 0-3.887C1.367 60.504 22.127 24 64 24s62.633 36.504 63.496 38.057a4 4 0 0 1 0 3.887C126.633 67.496 105.873 104 64 104zM8.707 63.994C13.465 71.205 32.146 96 64 96c31.955 0 50.553-24.775 55.293-31.994C114.535 56.795 95.854 32 64 32 32.045 32 13.447 56.775 8.707 63.994zM64 88c-13.234 0-24-10.766-24-24s10.766-24 24-24 24 10.766 24 24-10.766 24-24 24zm0-40c-8.822 0-16 7.178-16 16s7.178 16 16 16 16-7.178 16-16-7.178-16-16-16z"
                          data-original="#000000"></path>
                      </svg>
                    </div>
                  </div>
                  <authentication-validate [control]="repasswordgroup.get('newPassword')" />
                <div class="mt-8">
                  <button [disabled]="isloading" type="submit" [class.bg-gray-200]="isloading||repasswordgroup.invalid"
                    class="btn opacity-100 translate-0">
      
                    @if (isloading) {
                    <i class="fas fa-spin fa-spinner"></i>
                    }@else {verfiy}
                  </button>
      
                </div>
              </form>
         }
          
        </div>
      </div>
    </div>
  