@if (isloading) {
    @if (wishlist.count!==0)
 {
    <section class="py-5 ">
    <div class="container flex gap-6 flex-col mx-auto ">
        
        <div class="min-h-100">
            @for (item of wishlist.data; track $index) {
            <app-wish-item (colseitemid)="removeproduct($event)"  [productitem]="item" />}
        </div>
        
    </div>
</section>
}@else {
    <div class="min-w-screen min-h-screen flex flex-col justify-center items-center text-red-600 font-bold text-3xl">
    <img src="images/272-2727925_cart-png.png" alt="" class="w-100 mb-10">
    <h1>wish list is Empty</h1>
    <button routerLink="/products" class="btn opacity-100 translate-0 py-4 w-80 bg-orange-500 text-white hover:bg-orange-100 hover:text-main hover:shadow-shadow focus:shadow-0">continue shopping </button>

</div>}
}